/*Body*/
body {
	background-color: black;
}

/*Button*/
button:focus {
	outline: none;
}
button > p {
	color: white;
	font-size: 20px;
	margin-bottom: 0px;
	position: relative;
	z-index: 1;
}

/*Hide*/
.hide{
	display:none;
}

/*Signup-form*/
.signup{
	margin-top: 80px;
}
.signup-logo{
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 80%;
}
.signup-form{
	text-align: center;
	/*min-width: 350px;*/
	background-color: white;
	border-radius: 15px;
	padding: 20px 0px;
}
.signup-button-group{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
.signup-separate{
	margin-top: 10px;
}
.signup-button{
	width: 100%;
	height: 50px;
	margin: 5px 0px;
	padding: 5px 0px;
	border-radius: 40px;
	cursor: pointer;
	color: black;
	background: black;
	border: 0px;
	transition:0.3s;
	position: relative;
	overflow:hidden;
}

.signup-button:before{
	content: '';
	width: 100%;
	height: 100%;
	background: gray;
	position: absolute;
	transition: 0.3s;
}

.swipe:before{
	top: 0;
	left: -100%;
}
.swipe:hover:before,.swipe:active:before,.swipe:focus:before{
	left: 0;
}

.signup-input, .signup-input:focus{
	font-size: 20px;
	padding: 10px 15px;
	margin: 5px 0px 5px 0px;
	border: 1px solid gray;
	outline: none;
	width: 100%;
	border-radius: 40px;
}
.error-msg{
	text-align: left;
    padding-left: 10px;
    font-size: 14px;
    color: #c83232;
}
.blank-error, .blank-error:focus{
	border: 1px solid #ca3131;
    box-shadow: 0px 0px 12px 0px #ca3131;
}
.input-button{
	width: 30%;
	height: 41.6px;
	margin: 25px 5px 20.4px 5px;
	padding: 0px;
}
.btn-create{
	margin-top: 50px;
}

/*Navbar*/
.navbar-default {
	background-color: white;
	max-height: 52.8px;
}
.nav-title, .nav-title:hover{
	font-family: 'Jua', sans-serif;
	font-size: 2rem;
	margin-bottom: .5rem;
	line-height: 1.2;
	color: inherit;
	text-decoration: none;

}
.navbar-fixed-top {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030;
}
.nav-logo{
	height: 40px;
}

/*Chatroom*/
.chatroom-head{
	background-color: #6da5d7;
	margin-top: 88px;
	border-radius: 10px 10px 0px 0px;
	min-width: 350px;
}
.chatroom-name{
	font-family:;
	color: white;
	font-size: 20px;
	padding-top: 5px;
	text-align: center;
}
.chatroom-body{
	background-color: #313131;
	color: white;
	/*overflow-y: scroll;*/
	overflow: auto;
	min-width: 350px;
}
.chatroom-submit{
	background-color: #313131;
	color: white;
	border-radius: 0px 0px 10px 10px;
	border-top: 1.5px solid #868686;
	padding-top: 6px;
	min-width: 350px;
	/*overflow-y: scroll;*/
}
.chats{
	padding-top: 10px;
}
.chat{
	position: relative;
	padding: 5px 13px;
	border-radius: 16px;
	list-style: none;
	clear: both;
	margin: 10px -20px;
	max-width: 380px;
	word-wrap: break-word;
	white-space: pre-wrap;
}
.left{
	background: #4f4f4f;
	float: left;
	margin-right: 15px;
}
.right{
	background: #6da5d7;
	float: right;
	margin-right: 15px;
}
.chat-input, .chat-input:focus{
	padding: 6px 8px;
	color: #fff;
	background-color: #313131;
	border: 0px;
	box-shadow:none;
}
.chat-submit, .chat-submit:hover, .chat-submit:focus{
	color: #6da5d7;
	background-color: #313131;
	-webkit-appearance: none;
	text-decoration: none;
	border-style: none;
	box-shadow:none;
}
.chat-submit:active{
	color: #313131;
	background-color: #313131;
	-webkit-appearance: none;
	text-decoration: none;
	border-style: none;
	box-shadow:none;
}

/*Chatrom Color*/
.cbg-red{
	background-color: #c26656;
}
.cbg-yellow{
	background-color: #c2b941;
}
.cbg-green{
	background-color: #84ba78;
}
.cbg-blue{
	background-color: #6da5d7;
}
.cbg-purple{
	background-color: #a75d97;
}