:root{
	--theme-color:#8da5c7;
}

/*Body*/
body {
	background-color: black;
}

/*Button*/
button:focus {
	outline: none;
}
button > p {
	color: white;
	font-size: 20px;
	margin-bottom: 0px;
	position: relative;
	z-index: 1;
}

/*Hide*/
.hide{
	display:none;
}

/*Signup-form*/
.signup{
	margin-top: 80px;
}
.signup-logo{
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 80%;
}
.signup-form{
	text-align: center;
	/*min-width: 350px;*/
	background-color: white;
	border-radius: 15px;
	padding: 20px 0px;
}
.signup-button-group{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
.signup-separate{
	margin-top: 10px;
}
.signup-button{
	width: 90%;
	height: 50px;
	margin: 5px 0px;
	padding: 5px 0px;
	border-radius: 40px;
	cursor: pointer;
	color: black;
	background: black;
	border: 0px;
	transition:0.3s;
	position: relative;
	overflow:hidden;
}

.signup-button:before{
	content: '';
	width: 100%;
	height: 100%;
	background: gray;
	position: absolute;
	transition: 0.3s;
}

.swipe:before{
	top: 0;
	left: -100%;
}
.swipe:hover:before,.swipe:active:before,.swipe:focus:before{
	left: 0;
}

.signup-input, .signup-input:focus{
	font-size: 20px;
	padding: 6px 14px;
	margin: 22.4px 0px 17px 0px;
	border: 1px solid gray;
	outline: none;
	width: 90%;
	border-radius: 20px;
}
.error-msg{
	text-align: left;
	padding-left: 35px;
	font-size: 14px;
	color: #c83232;
}
.blank-error, .blank-error:focus{
	border: 1px solid #ca3131;
	box-shadow: 0px 0px 12px 0px #ca3131;
}
.input-button{
	width: 30%;
	height: 41.6px;
	margin: 25px 5px 20.4px 5px;
	padding: 0px;
}
.btn-create{
	margin-top: 50px;
}

/*Navbar*/
.navbar{
	padding: 1.5em;
}
.navbar-default {
	background-color: black;
	border-bottom: 2px solid white;
	max-height: 52.8px;
}
.nav-title, .nav-title:hover{
	font-family: 'Jua', sans-serif;
	font-size: 2rem;
	margin-bottom: .5rem;
	line-height: 1.2;
	color: white;
	text-decoration: none;

}
.navbar-fixed-top {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030;
}
.nav-logo{
	height: 40px;
}

/*Chatroom*/
.chatroom-head{
	background-color: var(--theme-color);
	margin-top: 88px;
	border-radius: 15px 15px 0px 0px;
	min-width: 350px;
}
.chatroom-name{
	color: white;
	font-size: 25px;
    font-weight: bold;
    padding-top: 10px;
	text-align: center;
}
.chatroom-body{
	background-color: #474747;
	color: white;
	/*overflow-y: scroll;*/
	overflow: auto;
	min-width: 350px;
}
.chatroom-submit{
	background-color: #474747;
	color: white;
	border-radius: 0px 0px 15px 15px;
	border-top: 1.5px solid #868686;
	padding-top: 6px;
	min-width: 350px;
	/*overflow-y: scroll;*/
}
.chats{
	padding-top: 10px;
}
.chat{
	position: relative;
	padding: 5px 13px;
	border-radius: 18px;
	list-style: none;
	clear: both;
	margin: 10px -20px;
	max-width: 380px;
	word-wrap: break-word;
	white-space: pre-wrap;
}
.left{
	border: 1px solid white;
	float: left;
	margin-right: 15px;
}
.right{
	background: var(--theme-color);
	float: right;
	margin-right: 15px;
}
.chat-input, .chat-input:focus{
	padding: 6px 8px;
	color: #fff;
	background-color: #474747;
	border: 0px;
	box-shadow:none;
}
.chat-submit, .chat-submit:hover, .chat-submit:focus{
	color: #6da5d7;
	background-color: #474747;
	-webkit-appearance: none;
	text-decoration: none;
	border-style: none;
	box-shadow:none;
}
.chat-submit:active{
	color: #474747;
	background-color: #474747;
	-webkit-appearance: none;
	text-decoration: none;
	border-style: none;
	box-shadow:none;
}

/*Change color*/
input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 17px;
	height: 17px;
	border-radius: 20px;
	overflow: hidden;
	cursor: pointer;
	outline: none;
	background-color: var(--theme-color);
	margin-top: 13px;
	margin-left: 5px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;

}
input[type="color"]::-webkit-color-swatch {
	border: none;
}

/*Tooltip*/
.tooltips {
	position: relative;
}

.tooltips .tooltiptext {
	visibility: hidden;
	width: 135px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 3px;
	position: absolute;
	z-index: 1;
	bottom: 110%;
	left: 60%;
	margin-left: -60px;
}

.tooltips .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
}

.tooltips:hover .tooltiptext {
	visibility: visible;
}
